## 1.用API爬取**證券交易所**
- [TWSE OpenAPI](https://openapi.twse.com.tw/#/%E8%AD%89%E5%88%B8%E4%BA%A4%E6%98%93/get_exchangeReport_STOCK_FIRST)

- 'https://openapi.twse.com.tw/v1/exchangeReport/STOCK_FIRST'

In [1]:
import requests

In [6]:
API = 'https://openapi.twse.com.tw/v1//exchangeReport/STOCK_DAY_ALL'    # 台灣證券交易所 - 個股日成交資訊
response = requests.get(API)
if response.status_code == 200:
    print('[Get data successfully]')
else:
    print('[Fail to get data]')
    
data = response.json()
print(f'共有 {len(data)} 筆資料')

[Get data successfully]
共有 1255 筆資料

In [7]:
print(data[0])

{'Code': '0050', 'Name': '元大台灣50', 'TradeVolume': '14311332', 'TradeValue': '2620276842', 'OpeningPrice': '183.10', 'HighestPrice': '184.10', 'LowestPrice': '182.45', 'ClosingPrice': '182.45', 'Change': '2.3000', 'Transaction': '16087'}

重視的資訊:
- OpeningPrice
- HighestPrice
- LowestPrice
- ClosingPrice

In [16]:
# Transform data to pandas dataframe
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [9]:
list = []
for d in data:
    list.append(d.values())
df = pd.DataFrame(list, columns=data[0].keys())

In [10]:
df

,Code,Name,TradeVolume,TradeValue,OpeningPrice,HighestPrice,LowestPrice,ClosingPrice,Change,Transaction
0,0050,元大台灣50,14311332,2620276842,183.10,184.10,182.45,182.45,2.3000,16087
1,0051,元大中型100,47993,3870924,80.95,80.95,80.20,80.35,-0.2500,284
2,0052,富邦科技,719628,128609934,180.00,180.00,177.80,177.80,1.8500,1233
3,0053,元大電子,18214,1785055,97.20,98.75,97.20,97.75,1.3000,142
4,0055,元大MSCI金融,185273,5382220,29.01,29.20,29.01,29.04,0.0500,263
...,...,...,...,...,...,...,...,...,...,...
1250,9944,新麗,127455,2573894,20.10,20.30,20.10,20.25,0.0500,215
1251,9945,潤泰新,25455283,1205535610,48.45,48.60,46.30,47.50,-1.7500,17945
1252,9946,三發地產,3318845,100416055,30.80,30.95,29.70,30.90,-2.1000,2004
1253,9955,佳龍,1357583,49492777,36.55,36.90,36.15,36.30,0.3500,931
1254,9958,世紀鋼,26598234,6467597994,240.00,250.50,234.50,241.50,7.0000,29946

In [22]:
from pylab import mpl
from matplotlib import pyplot as plt
# 繁體中文
mpl.rcParams["font.sans-serif"] = ["Microsoft JhengHei"]